{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin
{% endblock %}

{% block body %}

	{% include "admin/adminNav.html.twig" %}


	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h2 class="text-center">Contact</h2>
			</div>
			<div class="card-body">
				{{ form_start(form)}}

				{{ form_row(form.NoReplyEmail)}}
				{{ form_row(form.adminEmail)}}
				{{ form_row(form.rgpdText)}}
				{{ form_row(form.emailSubject)}}

				<button class="btn btn-success" type="submit">Valider</button>
				{{ form_end(form)}}
			</div>
		</div>
	</div>

{% endblock %}
