{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin - Photos
{% endblock %}

{% block body %}

	{% include "admin/adminNav.html.twig" %}

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h2>Ajouter/modifier une photo</h2>
			</div>
			<div class="card-body">
				{% if 'add' in app.request.uri %}
					{{ form_start(form)}}
					{{ form_row(form.title)}}
					{{ form_row(form.path)}}
					<input type="submit" value="Valider">
					{{ form_end(form)}}
				{% else %}

					<figure>
						<img style="width: 100px;" src="{{ asset('img/'~ photo.path) }}" alt="{{ photo.title }}">
					</figure>

					{{ form_start(form)}}
					{{ form_row(form.title)}}
					<input type="submit" value="Valider">
					{{ form_end(form)}}
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
