{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin - Créer catégorie
{% endblock %}

{% block body %}

	{% include "admin/adminNav.html.twig" %}

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h2>Créer/Modifier une catégorie</h2>
			</div>
			<div class="card-body">
				{{ form_start(form)}}

				{{ form_row(form.title)}}
				{{ form_label(form.path) }}
				<div class="row">
					<div class="col-4">
						{{ form_widget(form.path, { "attr" : { "data-browse" : "Naviguer" }})}}
						<div class="form-error">
							{{ form_errors(form.path) }}
						</div>
					</div>
					<div class="col-4 text-center">
						OU
					</div>
					<div class="col-4">
						{{ form_row(form.is_random_image)}}
					</div>
				</div>
				<input type="submit" value="Valider">
				{{ form_end(form)}}

			</div>
		</div>
	</div>

{% endblock %}
