{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin - Catégories
{% endblock %}

{% block body %}

	{% include "admin/adminNav.html.twig" %}

	<h2 class="text-center">Gestions des catégories</h2>

	{% if cats == null %}
		<p class="text-center">Pas de catégories</p>
	{% else %}
		<section class="draggable row justify-content-center mx-auto text-center">
			{% for cat in cats %}
				<article class="m-3 col-2 max-with-100" data-id="{{ cat.id }}">
					<div class="rounded border">
						<a href="{{ path('admin_cat_photos', {'id':cat.id}) }}">
							<h3>{{ cat.title }}
								({{ cat.photos|length }})
								<a href="{{ path('admin_edit_cat', {'id':cat.id})}}">
									<i class="fas fa-pen-square text-warning"></i>
								</a>
								<a onclick="return confirm('Êtes-vous sûre de vouloir mettre à la corbeille cette catégorie ?')" href="{{ path('admin_delete_cat', {'id':cat.id, 'hardDelete':0})}}">
									<i class="fas fa-minus-square text-danger"></i>
								</a>
							</h3>
						</a>
						<a href="{{ path('admin_cat_photos', {'id':cat.id}) }}">
							{% if cat.photoCoverPath == null %}
								<img src="{{ asset('img/default/Default.png' ) | imagine_filter('miniature') }}" alt="{{ cat.title }}">
							{% else %}
								<img src="{{ asset('img/' ~ cat.photoCoverPath ) | imagine_filter('miniature') }}" alt="{{ cat.title }}">
							{% endif %}
						</a>
					</div>
				</article>
			{% endfor %}
		</section>
	{% endif %}
	<div class="text-center">
		<a href="{{ path('admin_add_cat')}}" class="btn btn-success">Ajouter une catégorie</a>
	</div>
	<section>
		<h2 class="text-center">Corbeille des catégories ({{catsDeleted | length}})</h2>
	</section>
	{% if catsDeleted|length > 0 %}
		<section class="row justify-content-center mx-auto text-center">
			{% for cat in catsDeleted %}
				<article class="m-3 col-2" data-id="{{ cat.id }}">
					<div class="rounded border">
						<a href="{{ path('admin_cat_photos', {'id':cat.id}) }}">
							<h3>{{ cat.title }}
								({{ cat.photos|length }})
								<a onclick="return confirm('Êtes-vous sûre de vouloir restaurer cette catégorie ?')" href="{{ path('admin_restore_cat', {'id':cat.id})}}">
									<i class="fas fa-plus-square text-success"></i>
								</a>
								<a onclick="return confirm('Êtes-vous sûre de vouloir supprimer définitivement cette catégorie ? Cela supprimera aussi les photos associé.')" href="{{ path('admin_delete_cat', {'id':cat.id, 'hardDelete':1})}}">
									<i class="fas fa-minus-square text-danger"></i>
								</a>
							</h3>
						</a>
						<a href="{{ path('admin_cat_photos', {'id':cat.id}) }}">
							{% if cat.photoCoverPath == null %}
								<img src="{{ asset('img/default/Default.png' ) | imagine_filter('miniature') }}" alt="{{ cat.title }}">
							{% else %}
								<img src="{{ asset('img/' ~ cat.photoCoverPath ) | imagine_filter('miniature') }}" alt="{{ cat.title }}">
							{% endif %}
						</a>
					</div>
				</article>
			{% endfor %}
		</section>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery('.draggable').sortable({
stop: function (event, ui) {
let id = ui.item.attr('data-id')
// console.log("id:"+id)
let position = ui.item.index()
// console.log("pos:"+position)
$.post("{{ path('admin_cat_sort') }}", {
'cat_id': id,
'position': position
}, function (data) { // console.log(data)
})
}
})
	</script>
{% endblock %}
